In [1]:
import pandas as pd
from functions.UtilsCreateDataFrame import *
import numpy as np
from dataclasses import dataclass, asdict
import matplotlib.pyplot as plt
import numpy_ext as npe
from statsmodels.tsa.stattools import adfuller
from functions.Strategy import *
from functions.Regression import *
import datetime

In [2]:
path ="H:\BTC_ETH_2021-01_2021-12.csv.gz"
df_ = loadCleanDataFrame(path)
df_

                                        BTC       ETH
time
2021-01-01 00:00:59.999000+00:00  28942.645   736.720
2021-01-01 00:01:59.999000+00:00  28985.790   737.930
2021-01-01 00:02:59.999000+00:00  28999.420   738.300
2021-01-01 00:03:59.999000+00:00  28986.185   737.585
2021-01-01 00:04:59.999000+00:00  28979.160   737.135
...                                     ...       ...
2021-12-31 23:55:59.999000+00:00  46269.240  3678.005
2021-12-31 23:56:59.999000+00:00  46251.335  3676.865
2021-12-31 23:57:59.999000+00:00  46249.175  3677.270
2021-12-31 23:58:59.999000+00:00  46217.340  3676.330
2021-12-31 23:59:59.999000+00:00  46201.630  3675.665

[524610 rows x 2 columns]

In [10]:
"""

with 1minute frequency a day has 1440 observations
let's try this on half a day 

"""
index_input = df_.index
x, y = df_.to_numpy()[:, 0], df_.to_numpy()[:, 1]
window = int(1440 / 2)
last = None
rolling = npe.rolling_apply(linearRegression_np, window, x[:last], y[:last], n_jobs=4)
df_beta = ResultDataFrame(rolling, index_input[:last])
df_beta.to_csv("df_beta_ETH_BTC.csv.gz")
df_beta

,beta,intercept,r2,res_std,res_mean,stationarity_pvalue,date_est
time,,,,,,,
2021-01-01 00:00:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:00:59.999000+00:00
2021-01-01 00:01:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:01:59.999000+00:00
2021-01-01 00:02:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:02:59.999000+00:00
2021-01-01 00:03:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:03:59.999000+00:00
2021-01-01 00:04:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:04:59.999000+00:00
...,...,...,...,...,...,...,...
2021-01-31 23:55:59.999000+00:00,0.047085,-237.081613,0.954013,4.532899,-5.021169e-14,0.000075,2021-01-31 23:55:59.999000+00:00
2021-01-31 23:56:59.999000+00:00,0.047039,-235.612598,0.953897,4.529636,1.237923e-13,0.000024,2021-01-31 23:56:59.999000+00:00
2021-01-31 23:57:59.999000+00:00,0.046998,-234.273720,0.953907,4.520400,-9.284425e-14,0.000011,2021-01-31 23:57:59.999000+00:00
2021-01-31 23:58:59.999000+00:00,0.046956,-232.920052,0.953906,4.511936,8.021238e-14,0.000034,2021-01-31 23:58:59.999000+00:00
2021-01-31 23:59:59.999000+00:00,0.046912,-231.480960,0.953887,4.504311,-1.692671e-13,0.000041,2021-01-31 23:59:59.999000+00:00

In [13]:
df_beta = loadCreatedDataFrame("df_beta_ETH_BTC.csv.gz")
df_beta

PLT

,beta,intercept,r2,res_std,res_mean,stationarity_pvalue,date_est
time,,,,,,,
2021-01-01 00:00:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:00:59.999000+00:00
2021-01-01 00:01:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:01:59.999000+00:00
2021-01-01 00:02:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:02:59.999000+00:00
2021-01-01 00:03:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:03:59.999000+00:00
2021-01-01 00:04:59.999000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:04:59.999000+00:00
...,...,...,...,...,...,...,...
2021-01-31 23:55:59.999000+00:00,0.047085,-237.081613,0.954013,4.532899,-5.021169e-14,0.000075,2021-01-31 23:55:59.999000+00:00
2021-01-31 23:56:59.999000+00:00,0.047039,-235.612598,0.953897,4.529636,1.237923e-13,0.000024,2021-01-31 23:56:59.999000+00:00
2021-01-31 23:57:59.999000+00:00,0.046998,-234.273720,0.953907,4.520400,-9.284425e-14,0.000011,2021-01-31 23:57:59.999000+00:00
2021-01-31 23:58:59.999000+00:00,0.046956,-232.920052,0.953906,4.511936,8.021238e-14,0.000034,2021-01-31 23:58:59.999000+00:00
2021-01-31 23:59:59.999000+00:00,0.046912,-231.480960,0.953887,4.504311,-1.692671e-13,0.000041,2021-01-31 23:59:59.999000+00:00

In [14]:
%%time
"""
TEST 
"""
trading_time = {"days": 0, "hours": 12, "minutes": 0}

result_strategy = applyStrategyRolling(
    df_beta=df_beta, df_price=df_, trading_window=trading_time, thr_pval=0.1
)

df_trades = strategyDataFrame(result_strategy)
print("\nTotal Return: ", df_trades.ret_.prod(), "\n")
df_trades

Total Return:  6.413709249201035

Wall time: 7.34 s

,ret_,ret_no_fee,ret_type,spread_enter,spread_exit,fee_enter,fee_exit,enter_,exit_,beta,intercept,r2,res_std,res_mean,stationarity_pvalue,date_est
0,0.989180,0.994602,Long,394.204394,392.076639,1.067716,1.069683,2021-01-01 17:35:59.999000+00:00,2021-01-02 05:02:59.999000+00:00,0.011528,400.119741,0.235616,2.694467,-1.157395e-13,0.098078,2021-01-01 17:01:59.999000+00:00
1,1.061675,1.093749,Long,87.700236,95.922040,1.381770,1.431098,2021-01-02 08:09:59.999000+00:00,2021-01-02 13:16:59.999000+00:00,0.021702,93.442894,0.446459,2.814498,3.931670e-14,0.099025,2021-01-02 05:05:59.999000+00:00
2,0.827567,0.861362,Long,86.698721,74.678989,1.445941,1.484031,2021-01-02 13:58:59.999000+00:00,2021-01-02 17:06:59.999000+00:00,0.021702,93.442894,0.446459,2.814498,3.931670e-14,0.099025,2021-01-02 05:05:59.999000+00:00
3,1.036425,1.048359,Long,222.102797,232.843513,1.341747,1.308896,2021-01-02 18:57:59.999000+00:00,2021-01-02 20:47:59.999000+00:00,0.016899,230.986476,0.928620,4.365303,-8.258086e-14,0.086211,2021-01-02 17:07:59.999000+00:00
4,0.945106,0.957206,Long,222.174054,212.666288,1.330606,1.357684,2021-01-03 02:34:59.999000+00:00,2021-01-03 05:08:59.999000+00:00,0.016899,230.986476,0.928620,4.365303,-8.258086e-14,0.086211,2021-01-02 17:07:59.999000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0.993055,0.971259,Short,-273.832235,-281.702503,2.999602,2.968863,2021-01-31 02:34:59.999000+00:00,2021-01-31 09:45:59.999000+00:00,0.048529,-293.314811,0.578753,9.113122,7.137007e-14,0.092088,2021-01-30 21:44:59.999000+00:00
66,1.025777,1.451146,Short,12.765117,7.006186,2.700035,2.729844,2021-01-31 11:30:59.999000+00:00,2021-01-31 12:39:59.999000+00:00,0.039907,6.559525,0.937683,3.176632,1.260029e-13,0.095152,2021-01-31 09:51:59.999000+00:00
67,-1.907660,-8.076166,Long,-0.852007,6.880951,2.658522,2.597089,2021-01-31 15:12:59.999000+00:00,2021-01-31 18:14:59.999000+00:00,0.039907,6.559525,0.937683,3.176632,1.260029e-13,0.095152,2021-01-31 09:51:59.999000+00:00
68,-9.891980,-1.147585,Long,0.596155,-0.684139,2.604874,2.608144,2021-01-31 18:47:59.999000+00:00,2021-01-31 21:52:59.999000+00:00,0.039907,6.559525,0.937683,3.176632,1.260029e-13,0.095152,2021-01-31 09:51:59.999000+00:00
69,1.015889,0.996228,Long,-297.640531,-296.517817,2.930871,2.921088,2021-01-31 23:55:59.999000+00:00,2021-01-31 23:59:59.999000+00:00,0.048620,-286.375702,0.962572,4.545356,1.114763e-13,0.008315,2021-01-31 21:53:59.999000+00:00

In [28]:
import datetime as dt
#set here the trading window and this function gives you how many observations
#to take given the frequency of the dataframe 
opt = {"days":1}
frequency = {"minutes":1}

def fromTimetoPlainIndex(window, frequency = "1m"):
    win = dt.timedelta(**opt)
    freq = dt.timedelta(**frequency)
    return win/freq

fromTimetoPlainIndex(opt, frequency)

1440.0